<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-title>
      Adivina el número aleatorio.
    </ion-title>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true">
  <ion-header collapse="condense">

  </ion-header>

  <ion-item>
    <ion-label>
      ¡Adivina el número entre 1 y 100!
    </ion-label>
    </ion-item>

    <ion-item>
      <ion-label>
        <ion-input [(ngModel)]="juegoAleatorio.numeroIntroducido" (keyup.enter)="compararNumero()" placeholder="Inténtalo" type="number" value="0" min="1" max="100">
        </ion-input>
      </ion-label>
    </ion-item>
    

  <ion-button (click)="clearText()">JUEGA OTRA VEZ</ion-button>

  <h1>{{juegoAleatorio.mensaje}}</h1>
</ion-content>
